.card {
  max-width: 250px;
  margin-top: 15px;
}
.card img {
  height: 200px;
  width: 100%;
  display: block
}
.double-buttons {
  display: inline-block;
}
.double-buttons .btn {
  width: 80%;
  margin-right: 4%;
  margin-left: 2%;
  margin-bottom: 2%;
}
.double-buttons i {
  font-size: 1.5rem;
}
